fastapi==0.111.0
uvicorn[standard]==0.30.1
pandas==2.2.3
numpy==1.26.4
requests==2.32.3
joblib==1.4.2
scikit-learn==1.5.1
xgboost==2.1.1
python-dotenv==1.0.1
openai>=1.35.0
prophet==1.1.5
geopy==2.4.1
gunicorn==22.0.0
